<!DOCTYPE html>

<html> 
    <head>
        <link  rel="stylesheet" type="text/css" href="css/index.css">
        <meta charset="utf-8"/>
        <title> layout </title>
    </head>

    <body>
        <div class="header"> 
            <div class="ett">Mohammad Amiri </div>
            <div class="tva"></div>
            <div class="tre">
                <div class="fem">
                    <div class="sju">
                        <div class="sju1"></div>
                        <div class="sju2"></div>
                    </div>
                    <div class="atta">
                        <div class="atta1"></div>
                        <div class="atta2"></div>
                    </div>
                    <div class="nio">
                        <div class="tio">
                            <div class="tio1"></div>
                            <div class="tio2"></div>
                        </div>
                        <div class="elva"></div>
                        <div class="tolv">
                            <div class="tolv1">
                                <div class="tolv3"></div>
                                <div class="tolv4"></div>
                            </div>
                            <div class="tolv2">
                                <div class="tolv5"></div>
                                <div class="tolv6"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sex"></div>
            </div>
            <div class="fyra"></div>
        </div>


    </body>
</hmtl>